body {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 360px;
}

.header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #131313;
    color: white;
    padding: 20px;
}

.header__logo-image {
    width: 5rem;
}

.header__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__menu-link {
    text-decoration: none;
    color: inherit;
}

.header__menu-item_active .header__menu-link {
    border-bottom: 1px solid white;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #131313;
}

.content-section {
    box-sizing: border-box;
    padding: 15px 0;

    /* height: 100px; */
}

.content-section_theme_dark {
    background-color: #131313;
    color: white;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: black;
}

.cover {
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.cover__title {
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', 'Times New Roman', serif;
    font-size: 72px;
    font-weight: normal;
    padding-right: 20px;
}

.cover__title .accent-span {
    line-height: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: end;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    color: #CCC;
    line-height: 120%;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text {
    padding: 0 20px;
}

.reasons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 25px 20px;
}

.content-section__subtitle {
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', 'Times New Roman', serif;
    font-size: 28px;
    font-weight: bold;
}

.content-section__introduction {
    font-size: 20px;
    line-height: 27px;
}

.content-section__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 135%;
    padding-left: 20px;

}

.content-section__list-accent {
    font-weight: bold;
}


.how-to {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 25px 20px;
}

.how-to .cards-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    border-radius: 30px;
}

.card_theme_dark {
    background-color: #343434;
    color: white;
}

.card_theme_bright {
    background-color: #FEE42A;
    color: black;
}

.card__author {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__author-name {
    font-weight: 700;
    line-height: 135%;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__title {
    font-family: 'EB Garamond';
    font-size: 22px;
    line-height: 135%;
}

.card__text {
    line-height: 135%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #FEE42A;
    background-color: #131313;
}

.footer__copy {
    color: #F5F5F5;
    line-height: 135%;
}

.footer__links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer__links-link {    
    text-decoration: none;
    color: #F5F5F5;
}